.container {
    display: flex;
    flex-direction: column;
    width: var(--primary-width);
    min-width: var(--primary-min-width);
    color: var(--primary-text-color);
}
.container p {
    margin: 10px 0px;
}
.container h4 {
    margin: 10px 0px;
}
.item {
    margin: 5px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.082);
}
.text {
    flex-grow: 1;
    font-weight: 200;
}
.amount {
    margin: 0px 10px;
}
.item button {
    margin: 0px 10px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.item button i {
    color: gray;
    font-size: 1.2rem;
}
.item button i:hover {
    color: red;
    transform: scale(1.2, 1.2);
}