.container {
    display: flex;
    flex-direction: column;
    width: var(--primary-width);
    min-width: var(--primary-min-width);
    color: var(--primary-text-color);
}
.container h4 {
    margin: 10px 0px;
}
.form {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}
.form h4 {
    margin: 8px 0px;
    font-weight: 200;
}
.form h4 span {
    margin: 0px 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.486);
}
.form input {
    padding: 12px 80px 12px 10px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    outline: none;
}
/* Chrome, Safari, Edge, Opera */
.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form input[type=number] {
  -moz-appearance: textfield;
}
.form button {
    align-self: flex-start;
    margin: 20px 0px;
    padding: 15px 30px;
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    box-shadow: 2px 2px 5px rgb(194, 194, 194);
}
.form button:hover {
    background-color: rgba(0, 0, 0, 0.089);
    box-shadow: none;
}

@media screen and (max-width: 480px) {
    .form button {
        align-self: center;
    }
}